@charset "utf-8";
/* CSS Document */
@font-face
{
font-family: Interstate;
src:url(Interstate%20Black.ttf);
}
@font-face
{
font-family: Gothic;
src:url(LeagueGothic-Regular.otf);
}
body{
	margin:0;
	padding:0;
	background-color:white;
}
#logo{
	font-family:Gothic, Arial, Helvetica, sans-serif;
	font-size:50px;
	color:white;
	margin:10px 10px 10px 50px;
	position:absolute;
}

#front{
	width:100%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#eee;
	background-color:#3C948B;
	padding:0;
	margin:0;
	position:relative;
	padding-top:70px;
}
#front blockquote{
	text-align:center;
}
#share{
	display:block;
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	margin:0 auto;
}
.social{
	width:55px;
	height:55px;
	display:inline-block;
	border: 5px solid #036;
}

#hello{
	width:100%;
	height:400px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:white;
	text-align:center;
	position:relative;
}

#hello h1{
	position:absolute;
	display:block;
	top:20%;
	font-size:36px;
	text-align:center;
	width:100%;
}
#hello p{
	width:80%;
	font-size:24px;
			text-align:center;
	top:50%;
	position:absolute;
	display:block;
	margin:0 10% 0 10%;

}
#vision{
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	background-size:cover;
    background-image: linear-gradient(to bottom, rgba(8, 138, 104, 0.6), rgba(8,138,104, 0.6)), url("images/bridge.jpg");
    background-image: -moz-linear-gradient(to bottom, rgba(8, 138, 104, 0.6), rgba(8,138,104, 0.6)), url("images/bridge.jpg");
    background-image: -o-linear-gradient(to bottom, rgba(8, 138, 104, 0.6), rgba(8,138,104, 0.6)), url("images/bridge.jpg");
    background-image: -ms-linear-gradient(to bottom, rgba(8, 138, 104, 0.6), rgba(8,138,104, 0.6)), url("images/bridge.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 138, 104, 0.6)), to(rgba(8, 138, 104, 0.6))), url("images/bridge.jpg");
    background-image: -webkit-linear-gradient(to bottom, rgba(8, 138, 104, 0.6), rgba(8,138,104, 0.6)), url("images/bridge.jpg");
	
	text-align:center;
	position:relative;
	color:white;
	padding:0;
	margin:0;
}
#vision h1{
	position:absolute;
	display:block;
	top:10%;
	font-size:36px;
	text-align:center;
	width:100%;
}
#vision p{
	width:80%;
	font-size:24px;
			text-align:center;
	top:30%;
	position:absolute;
	display:block;
	margin:0 10% 0 10%;

}

#contact{
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	background-size:cover;
    background-image: linear-gradient(to bottom, rgba(76, 11, 95, 0.6), rgba(76,11,95, 0.6)), url("images/bridge2.jpg");
    background-image: -moz-linear-gradient(to bottom, rgba(76, 11, 95, 0.6), rgba(76,11,95, 0.6)), url("images/bridge2.jpg");
    background-image: -o-linear-gradient(to bottom, rgba(76, 11, 95, 0.6), rgba(76,11,95, 0.6)), url("images/bridge2.jpg");
    background-image: -ms-linear-gradient(to bottom, rgba(76, 11, 95, 0.6), rgba(76,11,95, 0.6)), url("images/bridge2.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76,11,95, 0.6)), to(rgba(76,11,95, 0.6))), url("images/bridge.jpg");
    background-image: -webkit-linear-gradient(to bottom, rgba(76, 11, 95, 0.6), rgba(76,11,95, 0.6)), url("images/bridge.jpg");
	
	text-align:center;
	position:relative;
	color:white;
	padding:0;
	margin:0;
}
#contact h1{
	position:absolute;
	display:block;
	top:10%;
	font-size:36px;
	text-align:center;
	width:100%;
}
.contact-elements{
	width:50%;
	display:inline-block;
	top:20%;
	float:left;
	height:200px;
	padding-top:15%;
}
#call li{
	list-style-type:none;
}
#call{
	text-align:left;
}